@font-face {
    font-family: 'Museo';
    src: url('../fonts/Museo.otf');
}


#SearchForm{
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    width: 65%;
    padding: 20px;
    /* background: #F00; */
    border-radius: 15px;
}

div.css-15k3avv{
    display: inline-block;
}

#SearchFormBox{
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border-radius: 15px;
}

.css-15k3avv{
    display: block;
}


#RoundTrip, #OneWayTrip{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 15px;
    width: calc(100%/2);
    text-align: center;
    background: #000;
    color: #FFF;
    border: 3px solid #FFD601;
}

#RoundTrip:hover, #OneWayTrip:hover{
    cursor: pointer;
}

#submitButtonContainer{
    width: 100%;
    display: block;
}

#goToReservation{
    margin: 10px auto;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    font-size: 140%;
    background: #FFD600;
    border: 1px solid #000;
}


@media screen and (max-width: 600px) {
    #SearchForm{
        margin-top: 20%;
        width: 100%;
        padding: 20px;
    }
  }