@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu.woff2');
}

body{
    font-family: 'Ubuntu';
    margin: 0px;
    padding: 0px;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }